# Deliverable 2: Create a Customer Travel Destinations Map 
Use input statements to retrieve customer weather preferences, then use those preferences to identify potential travel destinations and nearby hotels. Then, show those destinations on a marker layer map with pop-up markers.

#### 2.1 Create a folder called Vacation_Search.

#### 2.2 Download the Vacation_Search_starter_code.ipynb file into your Vacation_Search folder, and rename it Vacation_Search.ipynb.

#### 2.3 In the Vacation_Search.ipynb file, make sure the dependencies and API keys are imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import requests
import gmaps
import time
from datetime import datetime
import os
import sys
sys.path.append("C:\\Users\\c-hol\\Desktop\\Bootcamp")
from api_keys import G_key

# Configure gmaps API key
gmaps.configure(api_key=G_key)

#### 2.4 Use the instructions below to add code where indicated by the numbered-step comments in the starter code file.

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,71.55,90,85,5.99,overcast clouds
1,1,Ushuaia,AR,-54.8000,-68.3000,53.26,50,40,13.80,scattered clouds
2,2,Carnarvon,AU,-24.8667,113.6333,102.27,8,3,14.97,clear sky
3,3,Khatanga,RU,71.9667,102.5000,-19.97,92,67,4.63,broken clouds
4,4,Emerald,AU,-23.5333,148.1667,82.35,50,100,12.50,overcast clouds

#### 2.6 write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100

#### 2.7 use the loc method to filter the city_data_df DataFrame for temperature criteria collected in Step 2, then create a new DataFrame.

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

# The preferred_cities_df DataFrame will contain all the cities that meet the temperature criteria.

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Emerald,AU,-23.5333,148.1667,82.35,50,100,12.50,overcast clouds
28,28,Vaini,TO,-21.2000,-175.2000,87.96,66,75,10.36,volcanic ash
48,48,Avarua,CK,-21.2078,-159.7750,80.65,74,75,17.27,moderate rain
49,49,Butaritari,KI,3.0707,172.7902,81.81,75,73,7.74,light rain
58,58,Katubao,PH,5.8892,124.8294,83.01,68,94,1.63,overcast clouds
62,62,Kavieng,PG,-2.5744,150.7967,84.36,68,66,3.11,broken clouds
65,65,Faanui,PF,-16.4833,-151.7500,81.10,73,100,12.71,moderate rain
67,67,Hobart,AU,-42.8794,147.3294,80.02,52,75,4.00,broken clouds
74,74,Yulara,AU,-25.2406,130.9889,89.44,8,7,19.57,clear sky
96,96,Sola,VU,-13.8833,167.5500,82.92,77,94,10.51,overcast clouds

#### 2.8 determine if there are any empty rows, then drop them if necessary and create a new DataFrame

In [5]:
len(preferred_cities_df)

82

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                82
City                   82
Country                82
Lat                    82
Lng                    82
Max Temp               82
Humidity               82
Cloudiness             82
Wind Speed             82
Current Description    82
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Emerald,AU,-23.5333,148.1667,82.35,50,100,12.50,overcast clouds
28,28,Vaini,TO,-21.2000,-175.2000,87.96,66,75,10.36,volcanic ash
48,48,Avarua,CK,-21.2078,-159.7750,80.65,74,75,17.27,moderate rain
49,49,Butaritari,KI,3.0707,172.7902,81.81,75,73,7.74,light rain
58,58,Katubao,PH,5.8892,124.8294,83.01,68,94,1.63,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
651,651,General Roca,AR,-39.0333,-67.5833,88.20,21,100,13.60,overcast clouds
660,660,Progreso,MX,21.2833,-89.6667,81.10,59,0,11.86,clear sky
664,664,Gizo,SB,-8.1030,156.8419,84.33,74,92,5.50,moderate rain
666,666,Noumea,NC,-22.2763,166.4572,82.00,99,99,8.34,light rain
668,668,Gondanglegi,ID,-7.7479,112.0132,84.15,68,100,5.35,overcast clouds

#### 2.9 use the provided code to create a new DataFrame, hotel_df, that will hold the hotel names from the hotel search in Steps 6a-6f.

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Emerald,AU,82.35,overcast clouds,-23.5333,148.1667,
28,Vaini,TO,87.96,volcanic ash,-21.2000,-175.2000,
48,Avarua,CK,80.65,moderate rain,-21.2078,-159.7750,
49,Butaritari,KI,81.81,light rain,3.0707,172.7902,
58,Katubao,PH,83.01,overcast clouds,5.8892,124.8294,
62,Kavieng,PG,84.36,broken clouds,-2.5744,150.7967,
65,Faanui,PF,81.10,moderate rain,-16.4833,-151.7500,
67,Hobart,AU,80.02,broken clouds,-42.8794,147.3294,
74,Yulara,AU,89.44,clear sky,-25.2406,130.9889,
96,Sola,VU,82.92,overcast clouds,-13.8833,167.5500,

#### 2.11 iterate through the hotel_df DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters from Step 6a, then add the hotel name to the hotel_df DataFrame. If a hotel isn't found, skip to the next city.

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": G_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Emerald,AU,82.35,overcast clouds,-23.5333,148.1667,The Irish Village
28,Vaini,TO,87.96,volcanic ash,-21.2000,-175.2000,Keleti Beach Resort
48,Avarua,CK,80.65,moderate rain,-21.2078,-159.7750,Paradise Inn
49,Butaritari,KI,81.81,light rain,3.0707,172.7902,Isles Sunset Lodge
58,Katubao,PH,83.01,overcast clouds,5.8892,124.8294,IML Ecopark
62,Kavieng,PG,84.36,broken clouds,-2.5744,150.7967,Nusa Island Retreat
65,Faanui,PF,81.10,moderate rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
67,Hobart,AU,80.02,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
74,Yulara,AU,89.44,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
96,Sola,VU,82.92,overcast clouds,-13.8833,167.5500,Leumerus Bungalows

#### 2.12 drop any rows in the hotel_df DataFrame where a hotel name is not found.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Emerald,AU,82.35,overcast clouds,-23.5333,148.1667,The Irish Village
28,Vaini,TO,87.96,volcanic ash,-21.2000,-175.2000,Keleti Beach Resort
48,Avarua,CK,80.65,moderate rain,-21.2078,-159.7750,Paradise Inn
49,Butaritari,KI,81.81,light rain,3.0707,172.7902,Isles Sunset Lodge
58,Katubao,PH,83.01,overcast clouds,5.8892,124.8294,IML Ecopark
...,...,...,...,...,...,...,...
651,General Roca,AR,88.20,overcast clouds,-39.0333,-67.5833,Hotel y Casino del Río General Roca
660,Progreso,MX,81.10,clear sky,21.2833,-89.6667,Playa Linda Hotel
664,Gizo,SB,84.33,moderate rain,-8.1030,156.8419,Imagination Island
666,Noumea,NC,82.00,light rain,-22.2763,166.4572,Hôtel Le Lagon
668,Gondanglegi,ID,84.15,overcast clouds,-7.7479,112.0132,Rumah Mujiatin

#### 2.13 create an output file to store the hotel_df DataFrame as WeatherPy_vacation.csv in the Vacation_Search folder.

In [20]:
# 8a. Create the output file (CSV) called WeatherPy_vacation.
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

#### 2.14 add the city name, the country code, the weather description, and the maximum temperature for the city to the info_box_template format template we have provided.

use 02_WeatherPy

In [36]:
# 9. Using the template add city name, the country code, the weather description and 
#    maximum temperature for the city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd> and <dd>{Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data 
#      in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
locations

         Lat       Lng
4   -23.5333  148.1667
28  -21.2000 -175.2000
48  -21.2078 -159.7750
49    3.0707  172.7902
58    5.8892  124.8294
..       ...       ...
651 -39.0333  -67.5833
660  21.2833  -89.6667
664  -8.1030  156.8419
666 -22.2763  166.4572
668  -7.7479  112.0132

[82 rows x 2 columns]

In [38]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))